!!!
%html
  %head
    %title AlamoCoders
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}
    %meta{:name=>"author", :content=>"AlamoCoders - alamocoders.org"}
    %meta{:name=>"keywords", :content=>"San Antonio, AlamoCoders, User Group, Software Development"}
    %meta{:name=>"description", :content=>"AlamoCoders - San Antonio Software Developers Users Group"}
    = styleshee_link_tag 'style'
  %body
    #topPanel
      %ul
        %li= link_to 'Contact', '/contact'
        %li= link_to 'Join', 'http://groups.google.com/group/alamocoders', :target => '_blank'
        %li= link_to 'Meetings', '/meetings'
        %li= link_to 'Information', '/information'
        %li= link_to 'Home', '/'
      = link_to image_tag('AlamoCoderBlack.png', :title => 'AlamoCoders', :width => "230", :height => "80", :border => "0"), '/'
  #bodyPanel
    -if flash[:message]
      #flash #{flash[:message]
    -if flash[:error]
      #flasherror #{flash[:error]
  %br
  = yield
  #footerPanel
    #footerboydPanel
      %ul
        %li= link_to 'Home |', '/'
        %li= link_to ' Information |', '/information'
        %li= link_to ' Meetings |', '/meetings'
        %li= link_to ' Join |', 'http://groups.google.com/group/alamocoders', :target => '_blank'
        %li= link_to ' Contact', 'mailto:admin@alamocoders.org'
      %p.copyright © alamocoders all right reaserved
      %ul.templateworld
        %li Design By:
        %li= link_to 'Template World', 'http://www.templateworld.com', :target => '_blank'
    #footerhtmlPanel
      = link_to 'html', 'http://validator.w3.org/check?uri=referer', :target => '_blank'
    #footercssPanel
      = link_to 'css', 'http://jigsaw.w3.org/css-validator/check/referer', :target => '_blank'
