%h2 Upcoming Meeting
%p
  %span When:
  #{@next_meeting.date}
  %br
  %span Topic:
  #{@next_meeting.topic}
  %br
  %span Speaker:
  #{@next_meeting.speaker}, #{@next_meeting.speaker_job}
  %br
%p.dotline
  %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
%h2 Past Meetings
- @past_meetings.each do |meeting|
  %p
    %span When 
    #{meeting.date}
    %br
    %span Topic:
    #{meeting.topic}
    %br
    %span Speaker 
    #{meeting.speaker}, #{meeting.speaker_job}
    %br
  %p.dotline
    %img{:src=>"images/blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
