%h2 Upcoming Meeting
%p
  %span When: #{@next_meeting.date}
  %br
  %span Topic: #{@next_meeting.topic}
  %br
  %span Speaker: #{@next_meeting.speaker}
  %br
%p.dotline
  %img{:src=>"blank.gif", :width => "40", :height => "1", :alt => ""}
%br
%h2 Future Meetings
- @future_meetings.each do |meeting|
  %p
    %span When #{meeting.date}
    %br
    %span Speaker #{meeting.speaker}
    %br
  %p.dotline
    %img{:src=>"blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
%h2 Past Meetings
- @past_meetings.each do |meeting|
  %p
    %span When #{meeting.date}
    %br
    %span Speaker #{meeting.speaker}
    %br
  %p.dotline
    %img{:src=>"blank.gif", :width => "40", :height => "1", :alt => ""}
  %br
