.middle_left
  .meeting
    %p
      %span Meeting Type:
      #{next_meeting.kind}
      %br
      %span Topic: 
      #{next_meeting.topic}
      %br
      %span Speaker:
      #{next_meeting.speaker.name}, #{next_meeting.speaker.job}
      %br
      %span When and Where:
      #{next_meeting.formatted_date} 5:30pm at <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=new+horizons+computer+learning+center+san+antonio&sll=38.22623,-85.570149&sspn=0.00799,0.019248&ie=UTF8&hq=new+horizons+computer+learning+center&hnear=San+Antonio,+TX&ll=29.517137,-98.555453&spn=0.012324,0.022724&t=h&z=16&iwloc=A">New Horizons, Suite 500</a>
